workflows/workflow_projeto_1_whatsapp.json
{
  "name": "RAG + WhatsApp - Projeto 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp-projeto-1",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-860, -520],
      "id": "webhook-whatsapp-p1",
      "name": "WhatsApp Webhook",
      "webhookId": "webhook-whatsapp-projeto-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-text",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-620, -520],
      "id": "filter-message-type-p1",
      "name": "Is Text Message?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-remote-jid",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "messageText",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "assign-instance",
              "name": "instanceName",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "assign-session",
              "name": "sessionId",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-380, -520],
      "id": "extract-data-p1",
      "name": "Extract Message Data"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente especializado do Projeto 1.\nSEMPRE consulte a ferramenta de busca vetorial antes de responder qualquer pergunta.\nBaseie suas respostas exclusivamente nos documentos encontrados na base de dados.\nSe não encontrar informação relevante, diga que não possui essa informação.\nResponda de forma concisa e direta, adequada para mensagens de WhatsApp."
        },
        "promptType": "define",
        "text": "={{ $json.messageText }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-100, -520],
      "id": "agent-whatsapp-p1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-280, -300],
      "id": "chat-model-whatsapp-p1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "SUBSTITUIR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": "n8n_vectors_projeto_1",
        "toolDescription": "Use esta ferramenta para buscar informações na base de conhecimento do Projeto 1. Sempre consulte antes de responder.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [160, -300],
      "id": "pgvector-retrieve-whatsapp-p1",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "vector"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [160, -140],
      "id": "embeddings-whatsapp-p1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "SUBSTITUIR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_projeto_1",
        "sessionIdOption": "customKey",
        "sessionKey": "={{ $('Extract Message Data').item.json.sessionId }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [-60, -300],
      "id": "chat-memory-whatsapp-p1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_CREDENTIAL_ID",
          "name": "vector"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_SERVER_URL || 'http://evolution-api:8080' }}/message/sendText/{{ $('Extract Message Data').item.json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY || 'your-evolution-api-key' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extract Message Data').item.json.remoteJid }}\",\n  \"text\": \"{{ $json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, -520],
      "id": "send-whatsapp-reply-p1",
      "name": "Send WhatsApp Reply"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
